@import "tailwindcss";

@tailwind components;

@layer components {

  .set-base-style {
    @apply font-poppins min-[200px]:bg-turquoise-500 min-[768px]:bg-turquoise-200;
  }



  /* === Reusable Base Components === */

  .card-badge {
    @apply inline-flex items-center px-2 py-1 mt-1 mr-1 text-xs tracking-wide font-medium rounded-full bg-turquoise-50/50 text-turquoise-900;
  }

  .btn-social {
    @apply -m-1 p-3 rounded-full border border-white/40 hover:bg-turquoise-50 transition;
  }

  .card-content {
    @apply min-[360px]:text-[0.9rem] sm:text-[0.9rem] md:text-[0.9rem] xl:text-[1rem] text-turquoise-800;
  }

  .card-content-title {
    @apply min-[360px]:text-[0.9rem] sm:text-[1rem] md:text-[1rem] xl:text-[1.1rem] font-semibold leading-tight;
  }

  .video-bg-wrapper {
    @apply justify-center self-auto items-center w-full min-h-screen mt-0 flex absolute bg-[linear-gradient(to_bottom,_rgba(0,_192,_199,_0.5),_rgba(0,_192,_199,_0.5))];
  }

  .video-bg {
    @apply min-[240px]:invisible min-[768px]:visible -z-10 object-cover bg-[50%] bg-cover w-full h-full m-auto absolute;
  }

  .video-play-btn {
    @apply absolute 
            min-[360px]:w-26 min-[360px]:h-26 sm:w-16 sm:h-16 min-[360px]:hover:w-27 min-[360px]:hover:h-27 sm:hover:w-17 sm:hover:h-17 
            rounded-full bg-violet-100/80 hover:bg-violet-500 flex items-center justify-center cursor-pointer
          transition  ;
  }

  .video-play-icon {
    @apply ml-1 w-8 h-8 min-[360px]:w-18 min-[360px]:h-18 sm:w-8 sm:h-8 fill-violet-800/80;
  }

   /* === Composed Utility Classes Using Base Components === */

   .nav-scrolltop-bar {
    @apply fixed h-[74px] z-2 top-0 self-auto w-full bg-turquoise-500 opacity-0;
   }

   .nav-container {
    @apply fixed z-100 top-0 w-full;
   }

   .nav-wrapper {
    @apply flex min-[200px]:justify-end min-[550px]:justify-center min-[550px]:items-center mt-2 mb-2;
   }

   .nav-menubar {
    @apply relative flex items-center min-[550px]:px-4 rounded-[8px] font-medium border border-[rgba(255,255,255,0.20)] 
    
    min-[550px]:bg-[linear-gradient(153deg,_rgba(255,_255,_255,_0.20)_0%,_rgba(255,_255,_255,_0.00)_100%)] min-[550px]:backdrop-filter backdrop-blur-[21px]
    max-[550px]:bg-[linear-gradient(153deg,_rgba(255,_255,_255,_0.60)_0%,_rgba(255,_255,_255,_0.00)_100%)] max-[550px]:backdrop-filter backdrop-blur-[21px]
    max-[550px]:drop-shadow-xl;
   }

   .nav-menuitem {
    @apply relative z-100 mr-3 px-3 py-4 text-sm font-normal cursor-pointer transition-all duration-300;
   }

   .nav-active-itembg {
    @apply absolute z-50 h-7 rounded-full bg-violet-500-50p shadow-lg;
   }

  .card-badge-gray {
    @apply bg-gray-200 text-gray-800 ring-gray-700/20;
  }

  .card-badge-red {
    @apply bg-red-50/90 text-red-800 ring-red-700/20;
  }

  .card-badge-yellow {
    @apply bg-yellow-50/90 text-yellow-800 ring-yellow-700/20;
  }

  .card-badge-green {
    @apply bg-green-50/90 text-green-800 ring-green-700/20;
  }

  .card-badge-blue {
    @apply bg-blue-50/90 text-blue-800 ring-blue-700/20;
  }

  .card-badge-indigo {
    @apply bg-indigo-50/90 text-indigo-800 ring-indigo-700/20;
  }

  .card-badge-purple {
    @apply bg-purple-50/90 text-purple-800 ring-purple-700/20;
  }

  .card-badge-pink {
    @apply bg-pink-50/90 text-pink-800 ring-pink-700/20;
  }

  .project-card {
    @apply flex flex-col w-full
    /*min-[320px]:size-[100%] sm:size-[100%] md:size-[100%] lg:size-[50%] xl:size-[60%]*/
    sm:items-center md:items-center sm:justify-center md:justify-center lg:items-start lg:justify-normal;
  }

  .card-wrapper {
    @apply relative flex min-[360px]:flex-col md:flex-row w-full min-[360px]:px-4 sm:px-4 lg:px-4 xl:px-8 py-2 rounded-lg overflow-hidden text-turquoise-900 cursor-default
          before:content-[''] before:absolute before:top-0 before:left-0 before:h-full before:w-0
          before:bg-turquoise-300 before:transition-all before:duration-300 before:ease-in-out
          hover:before:w-[calc(100%+1rem)];
  }

  .card-thumbnail-wrapper {
    @apply relative flex flex-col items-center justify-center mt-3 min-[360px]:mr-0 sm:mr-8 md:mr-8 lg:mr-4 xl:mr-8 p-2 w-fit h-fit rounded-lg bg-white/20 group-hover:bg-turquoise-300;
  }

  .card-thumbnail-img {
    @apply md:w-120 xl:w-200 rounded-lg;
  }

  .card-content-link {
    @apply flex w-fit px-1 py-2 my-4 font-medium items-center rounded-md text-violet-500 cursor-pointer underline hover:no-underline transition ;
  }

  .card-link-icon {
    @apply ml-2 h-3 w-3 font-semibold fill-violet-500;
  }

  .card-content-wrapper {
    @apply min-[360px]:w-[100%] md:w-350 text-turquoise-900 opacity-90 group-hover:opacity-100 transition;
  }

  .card-content-date {
    @apply pl-2 my-3 leading-3 border-l border-turquoise-900;
  }

  .card-content-paragraph {
    @apply mt-3;
  }

  .card-content-subtitle {
    @apply mt-6 font-medium text-turquoise-900;
  }

  .card-content-footer {
    @apply py-4;
  }

  .photo-link {
    @apply relative z-100 self-start min-[360px]:mx-[10%] md:mx-24 lg:mx-24 transition-all duration-600 ease-in-out;
  }

  .social-link {
    @apply min-[360px]:mx-[10%] md:mx-24 lg:mx-24 lg:mx-24 mt-6 flex gap-6;
  }

  .body-wrapper {
    @apply relative flex flex-col items-center transition-all duration-200 ease-in-out;
  }

  .body-container {
    @apply static flex flex-col min-[360px]:pt-24 md:pt-40 min-[360px]:w-full md:w-full lg:w-[1000px] xl:w-[1200px] text-white;
  }

  .cert-wrapper {
    @apply min-[300px]:w-[90%] md:w-auto mb-14;
  }

  .project-work-wrapper {
    @apply flex min-[300px]:flex-col sm:flex-col md:flex-col lg:flex-row w-full px-8 sm:items-center md:items-center sm:content-center md:content-center lg:items-start lg:content-normal;
  }

  .content-wrapper {
    @apply min-[300px]:mt-14 md:mt-20 w-full py-16 flex flex-col items-center justify-center bg-turquoise-400;
  }

  .subpage-body-container {
    @apply static flex flex-col min-[300px]:w-full md:w-full lg:w-[1000px] xl:w-[1200px] text-white;
  }

  .sub-content-wrapper {
    @apply flex flex-col w-full h-screen max-[540px]:mt-[0px] md:-mt-[60px] max-[540px]:pt-[30px] pt-[100px] bg-turquoise-400/40;
  }

  .sub-backhome-link {
    @apply flex w-10 h-10 max-[550px]:ml-[52px] sm:ml-[100px] items-center justify-center max-[550px]:z-11 bg-turquoise-100/40  hover:bg-turquoise-100/60 rounded-full transition-colors duration-150 ease-in-out cursor-pointer;
  }

  .hero-heading {
      @apply min-[360px]:mx-[10%] md:mx-24 lg:mx-24 min-[360px]:w-[80%] md:w-[620px] lg:w-[750px] xl:w-[950px] px-0 py-4 min-[360px]:text-[1.6rem] sm:text-[2rem] md:text-[2rem] lg:text-[2.8rem] xl:text-[3.2rem] font-medium leading-[1.1em] min-[200px]:text-shadow-md min-md:text-shadow-lg;
  }

  .hero-paragraph {
      @apply min-[360px]:mx-[10%] md:mx-24 lg:mx-24 min-[360px]:w-[80%] md:w-[620px] lg:w-[750px] xl:w-[950px] px-0 py-4 font-normal sm:text-[1rem] md:text-[1.2rem] lg:text-[1.3rem] xl:text-[1.5rem] min-[200px]:text-shadow-md min-md:text-shadow-lg;
  }

  .hero-paragraph-link {
      @apply text-violet-500 underline hover:no-underline;
  }

  .projects-and-works {
    @apply relative w-full grid min-[360px]:grid-cols-1 lg:grid-cols-[60%_auto] gap-6 px-6 justify-items-stretch;
  }
  .work-cards {
    @apply h-fit min-[360px]:px-4 sm:px-6 md:px-6 lg:px-4 min-[360px]:py-6 sm:py-10 md:py-10 lg:py-6 rounded-lg border border-white/40;
  }

  .work-header {
    @apply flex flex-row text-[1.1rem] mb-2 min-[360px]:px-3 sm:px-5 md:px-5 lg:px-3 font-semibold leading-tight text-turquoise-900;
  }

  .work-list {
    @apply flex flex-col;
  }

  .work-header-icon {
    @apply h-5 w-5 mr-2 fill-turquoise-800 group-hover:fill-turquoise-500 transition;
  }

  .work-wrapper {
    @apply relative grid max-[768px]:grid-cols-1 sm:grid-cols-[56%_auto] gap-2 justify-items-start my-1 p-2 rounded-lg
          before:content-[''] before:absolute before:top-0 before:left-0 before:h-full before:w-0
          before:bg-turquoise-300 before:transition-all before:duration-300 before:ease-in-out
          hover:before:w-[calc(100%+1rem)];
  }

  .work {
    @apply relative flex flex-row justify-self-start w-full text-[14px] font-medium text-turquoise-900 items-center;
  }

  .work-duration {
    @apply relative flex items-center justify-self-end text-[14px]
    leading-tight text-turquoise-800 align-text-bottom;
  }

  .download-btn {
    @apply inline-flex w-full mt-8 px-3 py-2 text-sm font-medium items-center justify-center gap-2 rounded-md bg-violet-500-20p text-violet-700 hover:text-violet-50 hover:bg-violet-500 transition outline-offset-2 active:transition-none;
  }

  .download-btn-icon {
    @apply h-4 w-4 stroke-violet-700 transition group-hover:stroke-violet-50;
  }

  .footer {
    @apply w-full h-18 flex flex-col items-center justify-center text-[12px] text-turquoise-500 bg-turquoise-900;
  }
}
